@import '../../styles/variables.scss';

.experience-page {
    
    .text-zone {
        padding: 5% 5% 2%;
        justify-content: center;
        text-align: center;
    }

    flex-direction: column;
    font-family: Roboto;
    background: white;
    color: white;
    margin: 0;
    padding: 0 4%;
 
    .work-paper{}

    h2 {
        margin: 20px 0px;
        color: black;
    }

    .experience-box {
        opacity:0;
        animation: fadeIn 1.2s 1.3s;
        animation-fill-mode: forwards;
        padding: 0 5% 2%;
    
        p {
            display: flex;
            margin: 0;
            opacity: 1;
            color: black;
            font-weight: 400;
            padding: 0 8px;
            text-align: center;
            align-items: center;
        }

    }

    .react-tabs {
    display: flex;
    width: 100%;
    color: black;
    background: whitesmoke;
    border-radius: 4px;
    }

    .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 0;
    padding: 0;
    color: black;
    background: lightgrey;

    h3{
        background: blue;
    }

    }

    .react-tabs__tab {
    display: flex;    
    height: 70px;
    list-style: none;
    padding: 12px 10px;
    cursor: pointer;
    color: #bbb;
    justify-content: center;
    align-items: center;
    }

    .react-tabs__tab--selected {
    align-items: center;
    background: whitesmoke;
    border-left: 4px solid #ffd700;
    color: white;
    outline: none;
    }

    .react-tabs__tab-panel--selected {
    display: block;
    }

    .panel-content {

    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 500px;
    overflow: auto; 

    //TODO: remove padding when below md size
    // @include breakpoint(md){
    //     padding: 0;
    //     background: purple;
    // }

    .selected-title-date {
        padding: 3px 6px 10px;
    }

    box {
        padding: 3px 10px 0px;
        display: flex;
        justify-content: space-between;
        color: black;
    }

    p {
        margin-top: 5px;
        color: rgba(0,0,0,.8);
    }

    ul{
        padding-top: 5px;
    }

    li {
        padding-top: 5px;
    }

    }
    
    h3 {
        color: black;
        padding: 10px 0px;
        width: 100%;

    }

    .technologies-tools-container {
        padding: 0 5% 10%;
        width: 100%;
        opacity:0;
        animation: bounceIn .5s 1.7s;
        animation-fill-mode: forwards;

        .tandtpaper {
            background: rgba(245,245,245,.4);
            padding: 2% 1%;
        }

        img {
            width: 20px;
            height: 20px;
        }

        p {
            margin-top: 5px;
        }

        h3 {
        padding-top: 20px;    
        }

        h4 {
            color: black;
            padding: 2% 3%;
            width: 100%;
        }

        .front-end-box, .back-end-box, .tools-box {
            margin-bottom: 15px;
            width: auto;
            justify-content: center;
        }

    }

}